/* Our google font */
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

body {
  background-color: #6441a5;
  padding: 5%;
}

h1 {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 50px;
  font-weight:bold;
  padding: 5px;
  font-family: 'Luckiest Guy', cursive;

}

p {
  color: white;
  text-align: center;
  margin: 0;
  font-family: 'Luckiest Guy', cursive;
}
img {
  display:block;
  margin: auto;
  margin-top: -35px;
}
.found {
  border-style: solid;
  border-color: red;
}
