/* Our google font */
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy&display=swap');


body {
  background-color: #6441a5;
  padding: 5%;
}

h1 {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 80px;
  font-weight:bold;
  padding: 5px;
  font-family: 'Luckiest Guy', cursive;

}

p {
  color: white;
  text-align: center;
  margin: 0;
  font-family: 'Fredoka One', cursive;
}
img {
  display:block;
  margin: auto;
}
#subscribed {
  margin-top: -55px;
}

#hidden {
  margin-top: -45px;
  opacity: 0;
  font-size: 30px;
}

#tyrant {
  color: red;
  margin-top:0px;
  position: absolute;
  display: block;
  font-size: 70px;
  opacity:0;
}

.credit{
  width:150px;
  height: 100px;
  position:absolute;
}
