/* Our google font */
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body {
  background-color: #ffdb78;
}

p, h1 {
  font-size: 30px;
  padding: 5px;
  font-family: 'Work Sans', sans-serif;
}

.found {
  border-style: solid;
  border-color: red;
}
