/* Our google font */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
  background-image: url("../assets/images/background.jpg");
  padding: 5%;
}

p, h1 {
  font-size: 25px;
  font-weight:bold;
  padding: 5px;
  font-family: 'Indie Flower', cursive;
}

.found {
  border-style: solid;
  border-color: red;
}
